.about-us {
  padding-top: 47px;
  padding-bottom: 94px;
}
.photo {
  display: block;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 50px;
}
.examples {
  display: flex;
  flex-basis: calc(100% / 3 - 90px);
  align-items: center;
}
.example-item:not(:last-child) {
  margin-right: 30px;
}
.example-item {
  position: relative;
}
.shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.photo-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
