.examples {
  padding-top: 47px;
  padding-bottom: 94px;
}
.photo {
  display: block;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 50px;
}
.examples-list {
  @extend %align-item;
  flex-basis: calc(100% / 3 - 90px);
}
.examples-list__item:not(:last-child) {
  margin-right: 30px;
}
.examples-list__item {
  position: relative;
}
.shadow {
  @extend %align-item;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.photo-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  @include font(14px, 700px, 16px, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
