.basement {
  background: var(--background-color);
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  max-height: 252px auto;
  max-width: 1600px;
  margin: auto;
}
.basement-container {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-foot {
  margin-bottom: 20px;
  height: 31px;
  width: 145px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  @include font(26px, 700px, 31px, 0.03em);
  color: var(--accent-color);
  text-decoration: none;
}
.footer-studio {
  color: var(--primary-title-color);
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}
.address-link {
  @extend %roboto-txt;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social-footer {
  margin-left: 70px;
  margin-right: 93px;
}
.social-head {
  font-family: Roboto;
  font-style: normal;
  @include font(14px, 700px, 16px, 0.03em);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: #2196f3;
    border-radius: 50%;
    & .footer-social-icon {
      fill: #ffffff;
    }
  }
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
