.we {
  background: var(--our-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  justify-content: center;
  color: var(--header-text-color);
  margin-bottom: 50px;
  letter-spacing: 0.03em;
}
.people-list {
  display: flex;
  justify-content: flex-start;
}
.team-item {
  margin-right: 30px;
  background-color: var(--primary-title-color);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  max-height: 100%;
}
.team-item:nth-child(4n) {
  margin-right: 0;
}
.team-img {
  margin-bottom: 30px;
}
.team-personal-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
