.check-text {
  @extend %roboto-txt;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  @extend %align-item;
  justify-content: center;
  margin-top: 20px;
  span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 8px;
    @extend %align-item;
    justify-content: center;
  }
}

.check-icon {
  width: 11px;
  height: 8px;
}

.modal-checkbox {
  &:checked + .check-text span {
    background-color: #2196f3;
    border: none;
  }
}
