:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --header-text-color: #212121;
  --header-link-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --our-team-color: #f5f4fa;
}
